<h2>Listing of users</h2>
<ol>
	<% @users.each do |user|%>
	<li><%=user.email%> - <%= user.roles.pluck(:name).join(", ")%>
	<ul>
		<% user.articles.each do |article|%>
			<li><%=article.title%></li>
		<%end%></ul>
	</li>

	<%end%>
</ol>
<% if can? :create, User.new%>
	<%= link_to "Add user", new_user_path%>
<%end%>